
#navbar-toggle-cbox:checked ~ .collapse {
  display: block;
}

#navbar-toggle-cbox:checked ~ .navbar-toggler-label {
  border-color: rgba(255, 255, 255, 1);
}

#navbar-toggle-cbox {
  display: none;
}

.navbar-toggler-label {
  -webkit-appearance: none !important;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border-radius: 0.25rem;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
}

.contact-logo {
  width: 2rem;
}

.horizontal-list li a {
  display: inline;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}

.horizontal-list li {
  vertical-align: bottom;
}
